* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #153448 !important;
}

.navbar-link{
  color: #FFF !important;
  font-size: 18px !important;
}

.btn-filtration{
  /* background-color: #222831 !important; */
  color: #2D9596 !important;
  border-color: #2D9596 !important;
}

.btn-filtration:hover {
  background-color: #FBA834 !important;
  color: #FFF5E0 !important;
  outline: none !important;
  border: 1px solid #FBA834 !important;
}

.check {
  background-color: #FBA834 !important;
  color: #FFF5E0 !important;
  outline: none !important;
  border: 1px solid #FBA834 !important;
}

.main-section {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(18rem,1fr));
  gap: 20px;
}

.img-width {
  width: 200px;
  height: 200px;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 550px){
  .main-section {
    display: flex;
    flex-wrap: wrap;
  }
}